<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <rewrite>
	    <rules>
		    <rule name="IFrameworkPrettyURLs" stopProcessing="true">
			    <match url="^(.*)$" ignoreCase="true" />
			    <conditions logicalGrouping="MatchAll">
				     <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				     <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			     </conditions>
			    <action type="Rewrite" url="index.php?p={R:1}&amp;{QUERY_STRING}"  />
		    </rule>
	    </rules>
    </rewrite>
  </system.webServer>
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>

</configuration>